<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Cree su programa para el ChMaquina</title>
</head>

<body style="background-color: rgb(206, 169, 227);">

    <div class="mx-auto text-center">
        <p class="fs-3">
            Cree su programa .CH
        </p>
    </div>

    <div class="text-center"></div>

    <div class="form-floating text-center">
        <textarea class="form-control mx-auto" placeholder="" id="ide"
            style="height: 70vh; width: 80%;"></textarea>
    </div>

    <div class="text-center py-3">
        <a href="../download/Manual de usuario ChMaquina.pdf" download="Manual de usuario ChMaquina" class="btn btn-primary">Descargar manual de usuario</a>
        <a href="../download/Manual Técnico - ChMaquina.pdf" download="Manual Técnico - ChMaquina" class="btn btn-primary">Descargar manual técnico</a>
        <a href="#" class="btn btn-primary" id="downloadBtn">Descargar programa</a> 
        <!-- Hacer que pueda descargar un archivo con extensión .ch,
             con el contenido de lo que hay en el textarea -->
        <a href="../../index.html" class="btn btn-primary">Volver al ChMaquina</a>
    </div>

    <footer>
        <div class="mx-auto px-5">
            <h2 class="fs-5">
                Este es un editor, donde puede escribir su propio programa CH teniendo en cuenta las instrucciones y
                reglas
                mencionadas en los manuales.
            </h2>
        </div>
    </footer>
    <script src="./ide.js"></script>
</body>

</html>